.flip-card {
    width: 300px;
    height:250px;
    perspective: 500px;
    margin:auto;
    margin-top: 15%;
}
.login-container{
    display:flex;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
}
.front-card, .back-card{
    position: absolute;
    backface-visibility: hidden;
}
.front-card{
    z-index: 2;
}
.back-card{
    z-index: 1;
    transform: rotateY(180deg);
}
#header{
    text-align: center;
}

.login-form{
    padding:15px;
    padding-top: 0;
}
#lForm input{
    background: #f2f2f2;
    border: 0;
    border-radius: 5px;
    width:100%;
    font-size:18px;
    height:35px;
    margin: 5px 0;
    box-sizing: border-box;
    padding-left:10px; 
}
#lForm input[type=submit]{
    background:#222;
    color: white;
}

#forgot-btn-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
}
#back-btn-container{
    margin-top:3%;
}
    
/* Profile page css */
.container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top:10%;
    width: 60%;
}
#profile-photo{
    width: 30%;
    text-align: center;
}
#profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}   
#bio{
    width: 70%;
    font-size: 16px;
    font-family: Verdana;
    float: left;
}
#user-handle{
    font-size:22px;
}
/* Give top and bottom margin to middle div, so that there is space between all three divs. */
#user-stats{
    margin:20px 0;
}
/* Give left and right margin to middle span, so that there is space between all three span. */
#user-stats span:nth-child(2){
    margin:0 20px;
}
#fButton{
    width:120px;
    height: 30px;
    font-size:22px;
    text-align: center; 
    background-color:#3897f0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}